<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Large Sample Test](#z)**
2. **[Small Sample Test](#t)**
3. **[Chi-Square Test](#chisq)**
4. **[One-way ANOVA](#1way)**

**Import the required libraries**

In [2]:
# type your code here
import numpy as np
import pandas as pd
import scipy.stats as stats

### Let's begin with some hands-on practice exercises

<a id = "z"> </a>
## 1. Large Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The computer engineer claims that the average time requires to scan a system is less than 2.3 minutes. A graduate student collects the time taken by 32 systems to test the engineer's claim. Check whether the graduate student can use the Z-test for testing the claim with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
             2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]

In [3]:
# type your code here
time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
         2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]
#Assumptions
#1 Data is normal
#Testing for normality -- Shapiro
#H0: skew = 0
#Ha: skew != 0
stats.shapiro(time)

ShapiroResult(statistic=0.9538483023643494, pvalue=0.18520332872867584)

In [ ]:
#pval = 0.18
#pval > sig lvl
#Fail to reject H0
# skew = 0 Data is normal

In [7]:
#Hypothesis
#H0: time >= 2.3
#Ha: time < 2.3
n = 32
x_bar = np.mean(time)
s = np.std(time, ddof =1)
mu = 2.3
z = (x_bar - mu)/(s/(n**0.5))
z

-4.314055766276573

In [8]:
pval = stats.norm.cdf(z)
pval

8.014324310930383e-06

In [ ]:
# pval = 0.0000080
#sig lvl = 0.05
#pval < sig lvl
# Reject H0
#time < 2.3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two samples have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a p value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
#Assumptions
#Both sample Data should be normal
#n1, n2 > 30

#Two sample Z test

In [ ]:
#Hypothesis
#H0: mu1 <= mu2  (1 - MangoFun, 2- FruitMix)
#Ha: mu1 > mu2

In [10]:
x_bar1 = 0.4
x_bar2 = 0.35
s1 = 0.08
s2 = 0.05
n1 = 50
n2 = 80
#mu1-mu2 = 0

In [12]:
z = (x_bar1 - x_bar2)/ (np.sqrt((s1**2/n1) + (s2**2/n2)))
z

3.96214425875164

In [13]:
pval = stats.norm.sf(z)
pval

3.7139817357365585e-05

In [ ]:
# pval = 0.000037
#sig lvl = 0.01
#pval < sig lvl
# Reject H0
#mu1 > mu2 (protein MangoFun > protein FruitMix)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [14]:
# type your code here
df = pd.read_csv("electronic.csv")
df

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

In [21]:
price1 = df[df["Type"]== "Phablet"]["Price ($)"]
price2 = df[df["Type"]== "Tablet"]["Price ($)"]
#Checking notmality of price 1&2
stats.shapiro(price1)

ShapiroResult(statistic=0.9686920642852783, pvalue=0.20465952157974243)

In [22]:
#pval1 > 0.05
#Fail to reject H0 -- Skew = 0
stats.shapiro(price2)

ShapiroResult(statistic=0.9741330742835999, pvalue=0.33798879384994507)

In [24]:
#pval2 > 0.05
#Fail to reject H0 -- Skew = 0
#Both the data is normal

n1= len(price1)
n2= len(price2)
n1,n2

(50, 50)

In [ ]:
#2 n1,n2 > 30

In [ ]:
#hypothesis
#H0: mu1 = mu2 (price of phablet = tablet)
#Ha: mu1 != mu2

In [36]:
x_bar1 = np.mean(price1)
x_bar2 = np.mean(price2)
s1 = np.std(price1, ddof=1)
s2 = np.std(price1, ddof=2)
n1= len(price1)
n2= len(price2)
#mu1-mu2 =0
num = (x_bar1 - x_bar2)
den = np.sqrt(((s1**2)/n1) + ((s2**2)/n2))
z = num/den
z

8.459447004350512

In [35]:
pval = stats.norm.sf(np.abs(z))*2
pval

2.6864839843304553e-17

In [ ]:
#pval = 0.000000
#sig lvl = 0.05
#pval < sig lvl
#Reject H0
#Prices not equal

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [32]:
# type your code here
df = pd.read_csv("electronic.csv")
df

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

<a id="t"></a>
## 2. Small Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [37]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]
stats.shapiro(pack_wt)

ShapiroResult(statistic=0.9538426995277405, pvalue=0.5868644714355469)

In [ ]:
#pval = 0.5
#pval > 0.05
#Fail to reject H0
#skew = 0, data is normal
#n <30
#T test can be used

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g. using p-value method. (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [44]:
# type your code here
#H0: mu <= 30
#Ha: mu > 30
x_bar = np.mean(pack_wt)
s = np.std(pack_wt, ddof =1)
n = 15
mu = 30
t = (x_bar-mu)/(s/(np.sqrt(n)))
t

-1.1204731591740873

In [45]:
pval = stats.t.sf(t, df=n-1)
pval

0.8593171187217965

In [ ]:
#pval = 0.85
#sig lvl = 0.1
#pval > sig lvl
#Fail to reject Ho
#mu <= 30

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [46]:
# type your code here
#H0: t >= -1.2
#Ha: t < -1.2
n = 10
mu = -1.2
x_bar = -1.34
s = 0.8
t = (x_bar-mu)/(s/(np.sqrt(n)))
t

-0.5533985905294669

In [50]:
pval = stats.t.cdf(t, df=n-1)
t, pval

(-0.5533985905294669, 0.29673469801808217)

In [ ]:
#pval = 0.29
#sig lvl = 0.05
#pval > sig lvl
#Fail to reject H0
#t >= -1.2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [51]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

#Checking normality
stats.shapiro(harry)

ShapiroResult(statistic=0.9328558444976807, pvalue=0.575441837310791)

In [52]:
stats.shapiro(ron)

ShapiroResult(statistic=0.972867488861084, pvalue=0.9183047413825989)

In [ ]:
#both pval > sig lvl
#Fail to reject H0
#data is normal

In [ ]:
#given data is unpaired
#H0: harry >= ron
#Ha: harry < ron

In [53]:
stats.ttest_ind(harry,ron)

Ttest_indResult(statistic=-2.8788582527177526, pvalue=0.01385995160611642)

In [54]:
t = -2.8788582527177526
pval = 0.01385995160611642/2
t,pval

(-2.8788582527177526, 0.00692997580305821)

In [ ]:
#pval = 0.006
#sig lvl = 0.01
#pval < sig lvl
#Reject H0
#harry < ron, harry takes less time

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using  p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [56]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]
t, twosided_pval = stats.ttest_ind(harry,ron)
t, twosided_pval

(-2.8788582527177526, 0.01385995160611642)

In [57]:
pval = twosided_pval/2
pval

0.00692997580305821

In [58]:
#pval = 0.006
#sig lvl = 0.1
#pval < sig lvl
#Reject H0
#harry < ron, harry takes less time

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>10. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [59]:
# type your code here
df1 = pd.read_excel("sugar_level.xlsx")
df1

    sugar_before  sugar_after
0            135          132
1            132          136
2            142          139
3            154          151
4            198          192
5            164          142
6            152          148
7            137          132
8            144          141
9            162          159
10           164          162
11           138          132
12           152          150
13           143          140
14           163          160
15           158          152
16           154          144
17           159          148
18           162          159
19           135          132
20           164          159
21           172          168
22           161          158
23           158          145
24           172          167

In [60]:
before = df1["sugar_before"]
after = df1["sugar_after"]
#Checking normality
stats.shapiro(before)

ShapiroResult(statistic=0.9284526109695435, pvalue=0.08004998415708542)

In [61]:
stats.shapiro(after)

ShapiroResult(statistic=0.922091543674469, pvalue=0.057184845209121704)

In [ ]:
#both pval > 0.05
#Data is normal

In [63]:
#Data is paired
#ttest paired
#H0: before = after
#Ha: before != after
t, twosided_pval = stats.ttest_rel(before,after)
t, twosided_pval

(5.268469999584946, 2.108941394582287e-05)

In [64]:
pval = twosided_pval/2
pval

1.0544706972911436e-05

In [ ]:
#pval = 0.000010
#pval < 0.05
#reject H0
# before != after , there is change in sugar level after drug usage

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
#No assumptions
#H0: p_pop = 0.14
#Ha: p_pop != 0.14

In [67]:
p_s = 38/250
p_p = 0.14
n = 250
num = p_s - p_p
den = np.sqrt((p_s*(1-p_s))/n)
z = num/den
pval = stats.norm.sf(np.abs(z))*2
z,pval

(0.528483618905862, 0.5971637137368044)

In [ ]:
#pval = 0.59
#sig lvl = 0.05
#pval > sig lvl
#Fail to reject H0
#proportion of population = 0.14 or 14%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim using a critical value method. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [68]:
# type your code here
#H0: p_pop <= 0.20
#Ha: p_pop > 0.20
p_s = 42/120
p_p = 0.20
n = 120
num = p_s - p_p
den = np.sqrt((p_s*(1-p_s))/n)
z = num/den
pval = stats.norm.sf(z)
z,pval

(3.445015510579287, 0.00028551331192662953)

In [ ]:
#pval = 0.00028
#sig lvl = 0.1
#pval < sig lvl
#Reject H0
# proportion of population > 0.20 or 20%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>13. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [70]:
# type your code here
#H0: pf_ny = pf_one
#Ha: pf_ny != pf_one

In [69]:
import statsmodels.api as sm

In [71]:
sm.stats.proportions_ztest(count=[53,76], nobs=[150,170], alternative = "two-sided")

(-1.705655272664087, 0.08807228185564836)

In [ ]:
#pval = 0.088
#sig lvl = 0.05
#pval > 0.05
#fail to reject H0
#proportions of females are equal at NY and Oneonta

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Use the pvalue method to test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [72]:
# type your code here
#H0: p_m <= p_e
#Ha: p_m > p_e
sm.stats.proportions_ztest(count=[73,53], nobs=[200,150], alternative = "larger")

(0.22502571869471721, 0.41097963333926457)

In [ ]:
#pval = 0.41
#sig lvl = 0.1
#pval > 0.1
#Fail to reject H0
# p_m <= p_e, proportion of students failed in maths is not more than english

<a id = "chisq"> </a>
## 3. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 17 to 24.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
df = pd.read_csv("Employee_Attrition.csv")

pd.set_option("display.max_columns", None)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [92]:
len(df)

1470

In [77]:
exp_per = np.array([0.55, 0.35,0.10])
df["Department"].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [78]:
obs_val = [961,446,63]
exp_val = exp_per*len(df)

In [ ]:
#H0: obs = exp
#Ha: obs != exp

In [79]:
stats.chisquare(f_obs = obs_val, f_exp = exp_val)

Power_divergenceResult(statistic=85.88470712960503, pvalue=2.2406437256053955e-19)

In [ ]:
#pval = 0.0000
#pval < 0.05
#reject H0
#obs!= exp

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a p value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [84]:
# type your code here
exp_per = np.array([0.20, 0.18, 0.30, 0.32])  #[least,fairly, moderately, highly]
df["JobSatisfaction"].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

In [85]:
obs_val = [289, 280, 442, 459]
exp_val = exp_per*len(df)

In [86]:
#H0: obs = exp
#Ha: obs != exp

In [87]:
stats.chisquare(f_obs = obs_val, f_exp = exp_val)

Power_divergenceResult(statistic=1.2598733938019708, pvalue=0.7386828586247451)

In [ ]:
#pval = 0.73
#pval > 0.05
#fail to reject H0
#obs = exp

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# type your code here
exp_per = np.array([0.68, 0.20, 12])   #[rare, freq, no]
df["BusinessTravel"].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [5]:
obs_val = [1043, 277, 150]
exp_val = exp_per*len(df)

In [ ]:
#H0: obs = exp
#Ha: obs != exp

In [91]:
stats.chisquare(f_obs = obs_val, f_exp = exp_val)

Power_divergenceResult(statistic=17344.142817126853, pvalue=0.0)

In [ ]:
#pval = 0.0000
#pval < 0.05
#reject H0
#obs!= exp

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
#H0: categorical columns are independent
#Ha: cat col are dependent

In [6]:
obs_val = pd.crosstab(df["BusinessTravel"], df["JobRole"])
obs_val

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
BusinessTravel,,,,,,,,,
Non-Travel,15,4,28,12,13,6,28,39,5
Travel_Frequently,26,10,51,13,29,12,54,59,23
Travel_Rarely,90,38,180,77,103,62,210,228,55

In [97]:
stats.chi2_contingency(obs_val)

(11.987695596739206,
 0.7448263418408124,
 16,
 array([[ 13.36734694,   5.30612245,  26.42857143,  10.40816327,
          14.79591837,   8.16326531,  29.79591837,  33.26530612,
           8.46938776],
        [ 24.68503401,   9.79863946,  48.8047619 ,  19.22040816,
          27.32312925,  15.07482993,  55.02312925,  61.42993197,
          15.64013605],
        [ 92.94761905,  36.8952381 , 183.76666667,  72.37142857,
         102.88095238,  56.76190476, 207.18095238, 231.3047619 ,
          58.89047619]]))

In [ ]:
#pval = 0.74
#pval > 0.01
#fail to reject H0
#columns are independent

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Is there any relationship between the attrition of an employee and his/her marital status? Perform the hypothesis testing to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [104]:
# type your code here
obs_val = pd.crosstab(df["Attrition"], df["MaritalStatus"])

In [105]:
stats.chi2_contingency(obs_val, correction = False)

(46.163676540848705,
 9.45551106034083e-11,
 2,
 array([[274.27959184, 564.49591837, 394.2244898 ],
        [ 52.72040816, 108.50408163,  75.7755102 ]]))

In [ ]:
#pval = 0.000000
#pval < 0.05
#Reject H0
#Col are dependent

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [100]:
# type your code here
obs_val = pd.crosstab(df["BusinessTravel"], df["Gender"])

In [102]:
stats.chi2_contingency(obs_val, correction = False)

(4.031372310350092,
 0.13322895625828154,
 2,
 array([[ 60. ,  90. ],
        [110.8, 166.2],
        [417.2, 625.8]]))

In [ ]:
#pval = 0.133
#pval > 0.1
#Fail to reject H0
#columns are independent

<a id = "1way"> </a>
## 4. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 25 to 29.

In [106]:
# type your code here
df = pd.read_csv("sales_emp.csv")
df.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,2,1,1,Single,3407,6986,7,Y,No,23,4,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,3,2,4,Married,2086,3335,3,Y,No,14,3,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,2,1,3,Married,2683,3810,1,Y,Yes,14,3,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,2,3,4,Single,9619,13596,1,Y,No,16,3,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,2,2,3,Single,5744,26959,1,Y,Yes,11,3,4,80,0,6,1,3,6,4,0,3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
#Assumptions
#1Data is normal - Shapiro
#2 Variance is equal - Levene

In [108]:
# type your code here
df["BusinessTravel"].value_counts()

Non-Travel           18
Travel_Frequently    18
Travel_Rarely        18
Name: BusinessTravel, dtype: int64

In [109]:
tf = df[df["BusinessTravel"] == "Travel_Frequently"]["DailyRate"]
tr = df[df["BusinessTravel"] == "Travel_Rarely"]["DailyRate"]
nt = df[df["BusinessTravel"] == "Non-Travel"]["DailyRate"]

In [110]:
#Checking for normality
#H0: skew = 0
#Ha: skew != 0
stats.shapiro(tf)

ShapiroResult(statistic=0.9731252193450928, pvalue=0.8539641499519348)

In [111]:
stats.shapiro(tr)

ShapiroResult(statistic=0.960728645324707, pvalue=0.6157617568969727)

In [112]:
stats.shapiro(nt)

ShapiroResult(statistic=0.913857638835907, pvalue=0.10064121335744858)

In [113]:
#All pval > 0.01, fail to reject H0, Data is normal

In [114]:
#Checking for variance
#H0: variance is same
#Ha: variance is not equal
stats.levene(tf,tr,nt)

LeveneResult(statistic=1.5065215359381487, pvalue=0.23137904227432696)

In [ ]:
#pval >0.01, H0 is true variance is equal

In [ ]:
#H0: all means are equal (tf,tr,nt)
#Ha: atleast one mean is different

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [116]:
# type your code here
stats.f_oneway(tf,tr,nt)

F_onewayResult(statistic=15.815759872412405, pvalue=4.527131533131016e-06)

In [117]:
#pval = 0.0000045
#sig lvl = 0.01
#pval < sig lvl
#reject H0
#Atleast one mean is different

In [ ]:
stats.ttest_2samp()